.hero{
  position: relative;
  color: #fff;
  background-color: #3e3e3e;
}
.title{
  font-size: 64px;
  font-weight: 400;
  text-transform: capitalize;
  white-space: pre-line;

  
  @media only screen and (max-width: 900px) {
    font-size: 46px;
  }
}
.subtitle{
  text-transform: capitalize;
  margin-bottom: 24px;
}
.content{
  position: absolute;
  top: 50%;
  left: 135px;
  transform: translateY(-50%);
  width: 756px;
  z-index: 10;
  max-width: calc(100% - 270px);
  
  
  @media only screen and (max-width: 900px) {
    left: 25px;
    max-width: calc(100% - 50px);
  }
}