.navbar{
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
  background-color: #fff;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.16);

  @media only screen and (max-width: 900px) {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: row-reverse;
    padding: 15px 24px;
  }
}