.slider {
  width: 100%;
  margin-top: auto;
  position: relative;
  overflow: hidden;
  &_wrapper {
    position: relative;
  }
  &_container {
    overflow: unset;
    @media only screen and (max-width: 768px) {
      position: relative;
      width: 150%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_item {
    width: 20%;
    @media only screen and (max-width: 1024px) {
      width: 25%;
    }
    @media only screen and (max-width: 768px) {
      width: 33.33%;
    }
  }
  &_image {
    position: relative;
    padding-top: 40%;

    @media only screen and (max-width: 768px) {
      padding-top: 70%;
    }

    img {
      width: 100%;
      display: block;
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      transform-origin: bottom center;
      mix-blend-mode: multiply;
      pointer-events: none;
    }
  }
}

.info {
  &_wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 60%;
    color: #fff;
    background-color: #ff472e;
    z-index: -1;
    @media only screen and (max-width: 1024px) {
      width: 37.5%;
    }
    @media only screen and (max-width: 768px) {
      position: relative;
      width: 100%;
      height: 156px;
    }
  }
  &_item {
    opacity: 0;
    position: absolute;
    left: 33%;
    bottom: 46px;
    transition: 0.2s linear;

    &.active {
      transition-delay: 0.2s;
      opacity: 1;
    }

    @media only screen and (max-width: 1024px) {
      left: 50%;
      transform: translateX(-50%);
      bottom: 42px;
    }
    @media only screen and (max-width: 768px) {
      left: 16px;
      transform: none;
    }
  }
  &_name {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 63px;
    width: min-content;
    @media only screen and (max-width: 1024px) {
      font-size: 24px;
      margin-bottom: 24px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 20px;
      margin-bottom: 18px;
    }
  }
  &_position {
    font-weight: medium;
    font-size: 16px;
    white-space: nowrap;
  }
}
